@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-size: fill;
  background-repeat: no-repeat;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
  background-image: url("../../public/background.png");
  color: rgb(54, 54, 54);
}

[data-theme='dark'] {
  background-image: url("../../public/background-dark.png");
  color: rgb(189, 189, 189);
}